
<section class="hero is-fullheight header-image">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="column is-2 is-offset-5">
                        <h1 class="title">
                            Create a New Song
                        </h1>
                        <div class="tile is-ancestor">
                            <div class="tile is-parent is-vertical">
                               <%= form_for [@artist, @song] do |f| %>

                                <div class="tile-is-child">
                                 <p class="title is-5">Title</p>
                                  <div class="subtitle"><%=f.text_field :title, :class => 'input is-rounded'%></div>
                               
                                
                                  <p class="title is-5">Length</p>
                                  <div class="subtitle"><%=f.text_field :length, :class => 'input is-rounded'%></div>
                               
                                
                                  <p class="title is-5">Play Count</p>
                                  <div class="subtitle"><%=f.text_field :play_count, :class => 'input is-rounded'%></div>
                               
                                
                                  <p>
                                  <%=f.submit :class => 'button is-info'%>
                                  </p>
                                </div>
                              <%end%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</section>